main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}
.textSize {
  font-size: 1rem;
}
.padding {
  padding: 10px;
}
.card {
  flex-direction: row;
  width: 24rem;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: #f0f0f0;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}
.card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}
.card h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
.card p, .card a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}
.card p {
  inset: auto auto 80px 30px;
}
.card a {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
}
.card:hover h2 {
  inset: auto auto 220px 30px;
  transition: inset 0.3s ease-out;
}
.card:hover p, .card:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}
.card:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 0.2;
}
.material-symbols-outlined {
  vertical-align: middle;
}



.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  padding: 10px;
}

.footer-button {
  color: #7A807C;
  border: none;
  padding: 0px 10px;
  cursor: pointer;
  transition: all 0.3s ease;


}
.footer-button:hover {
  padding: 15px 25px;
  font-size: 16px;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #7A807C;
  margin: 20 20px;
}

.dividerh {
  flex: 1;
  height: 1px;
  background-color: white;
  margin: 0 10px;
  border: none;
}


