<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>

<meta xame="description" content="About the developers of Momnts " />

<div class="flex items-center justify-center h-screen flex-wrap">
  <main>
    <div class="p-5">
      <div class="card">
        <img
          src="../../assets/domenico.png"
          alt="Domenico Valentino Momnts App"
        />
        <div class="card-content">
          <h2>Domenico Valentino</h2>
          <p class="textSize">
            Domenico Valentino back-end developer for momnts, located in
            Montreal QC. Student of Regina Assumpta College grade 11. Contact:
            domenico.valentino@momntsapp.com
          </p>
          <a href="#" class="button">
            Find out more
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </div>
      </div>

    </div>
    <h1 class="text-4xl text-second ">-</h1>

    <div class="p-5">
      <div class="card">
        <img src="../../assets/nathan.jpg" alt="Nathan Aruna Momnts App" />
        <div class="card-content">
          <h2>Nathan Aruna</h2>
          <p class="textSize">
            Nathan Aruna is a front-end developer for Momnts, located in
            Montreal QC. Student of Laval Senior Acadmey grade 11. Contact:
            nathan.aruna@momntsapp.com
          </p>
          <a href="#" class="button">
            Find out more
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </div>
      </div>
    </div>
    <h1 class="text-4xl text-second ">-</h1>

    <div class="p-5">
      <div class="card">
        <img src="../../assets/xin.jpg" alt="Xin Lei Momnts App" />
        <div class="card-content">
          <h2>Xin Lei</h2>
          <p class="textSize">
            Xin Lei back-end developer for momnts, located in Toronto ON.
            Student of University of Toronto first year. Contact:
            xin.lei@momntsapp.com
          </p>
          <a href="#" class="button">
            Find out more
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </div>
      </div>
    </div>
    <h1 class="text-4xl text-second ">-</h1>

    <div class="p-5">
      <div class="card">
        <img src="../../assets/aly.jpg" alt="Aly Shariff Momnts App" />
        <div class="card-content">
          <h2>Aly Shariff</h2>
          <p class="textSize">
            Aly Shariff back-end developer for momnts, located in Waterloo ON.
            Student of Waterloo first year. Contact: aly.shariff@momntsapp.com
          </p>
          <a href="#" class="button">
            Find out more
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </div>
      </div>
    </div>
  </main>
</div>

<section id="more">
  <div class="flex flex-col min-h-screen">
    <div class="flex-grow"></div>
    <footer class="footer">
      <div class="divider"></div>
      <a href="/legal">
        <button class="footer-button">Legal</button>
      </a>
      <div class="divider"></div>
      <button class="footer-button">Contributors</button>
      <div class="divider"></div>
      <a href="/about">
        <button class="footer-button">About</button>
      </a>

      <div class="divider"></div>
      <button class="footer-button">IOS</button>
      <div class="divider"></div>
      <button class="footer-button">Android</button>
      <div class="divider"></div>
    </footer>
    <div class="flex items-center justify-center pb-24 pt-19"></div>
  </div>
</section>
