<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>

<meta xame="description" content="About the developers of Momnts " />
<div class=" items-center justify-center h-screen pt-20">
  <main>
    <div class="p-5">
      <div class="card">
        <img
          src="../../assets/domenico.png"
          alt="Domenico Valentino Momnts App"
        />
        <div class="card-content">
          <h2>Domenico Valentino</h2>
          <p class="textSize">
            Domenico Valentino back-end developer for momnts, located in
            Montreal QC. Student of Regina Assumpta College grade 11. Contact:
            domenico.valentino@momntsapp.com
          </p>
          <a href="#" class="button">
            Find out more
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </div>
      </div>

    </div>

    <div class="p-5">
      <div class="card">
        <img src="../../assets/nathan.jpg" alt="Nathan Aruna Momnts App" />
        <div class="card-content">
          <h2>Nathan Aruna</h2>
          <p class="textSize">
            Nathan Aruna is a front-end developer for Momnts, located in
            Montreal QC. Student of Laval Senior Acadmey grade 11. Contact:
            nathan.aruna@momntsapp.com
          </p>
          <a href="#" class="button">
            Find out more
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </div>
      </div>
    </div>

    <div class="p-5">
      <div class="card">
        <img src="../../assets/xin.jpg" alt="Xin Lei Momnts App" />
        <div class="card-content">
          <h2>Xin Lei</h2>
          <p class="textSize">
            Xin Lei back-end developer for momnts, located in Toronto ON.
            Student of University of Toronto first year. Contact:
            xin.lei@momntsapp.com
          </p>
          <a href="#" class="button">
            Find out more
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </div>
      </div>
    </div>

    <div class="p-5">
      <div class="card">
        <img src="../../assets/aly.jpg" alt="Aly Shariff Momnts App" />
        <div class="card-content">
          <h2>Aly Shariff</h2>
          <p class="textSize">
            Aly Shariff back-end developer for momnts, located in Waterloo ON.
            Student of Waterloo first year. Contact: aly.shariff@momntsapp.com
          </p>
          <a href="#" class="button">
            Find out more
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </div>
      </div>
    </div>
  </main>
  <p  class=" flex p-2  text-center font-bold text-second text-xs  items-center justify-center">With a profound vision and unwavering determination our teams works hard to deliver cherishable momnts to all users. </p>
  <p  class="font-bold text-second text-xs flex items-center justify-center">Domi, Nathan, Xin & Aly™</p>
</div>




