<!-- <div class="pt-20"></div>
<div class="pt-20"></div>
<div class="pt-20"></div>

<div class="page-container">
  <h1 class="text-5xl font-bold text-main">MOMENTS</h1>
  <p  class="font-bold text-second">Terms of Service Last Updated: [Date]
  </p>  <div class="content">

  <div class="pt-2 pb-2"></div>
    <p  class="font-bold text-second">1. Acceptance of Terms
    <p>By accessing or using the Moments app, you acknowledge that you have read, understood, and agree to be bound by these Terms, our Privacy Policy, and any additional guidelines or rules that we may provide.</p>
    <div class="pt-2 pb-2"></div>

    <p  class="font-bold text-second">2. User Eligibility
      <p>You must be at least 13 years old to use Moments. By using the app, you represent and warrant that you meet the age requirement and have the legal capacity to enter into these Terms.</p>
      <div class="pt-2 pb-2"></div>

      <p  class="font-bold text-second">3. User Accounts
        <p>a. To use Moments, you need to create an account. During registration, you will provide your name, username, email, password, and date of birth.

          b. You are responsible for maintaining the confidentiality of your account information and agree to accept responsibility for all activities that occur under your account.</p>
        <div class="pt-2 pb-2"></div>

        <p  class="font-bold text-second">4. User Content
          <p>Ta. Moments allows you to post photos and share your location. You retain ownership of the content you post, but by uploading content, you grant us a license to use, reproduce, modify, and display the content for the purpose of operating and improving the app.

            b. You agree not to post content that includes hate speech, harassment, or violates our community guidelines.</p>

            <div class="pt-2 pb-2"></div>

        <p  class="font-bold text-second">5. Privacy and Third-Party Services
          <p>a. Moments respects your privacy. We collect and use your information as described in our Privacy Policy.

            b. The app may include third-party services that do not compromise user privacy. These services are integrated to enhance your experience and are subject to our privacy practices.

            <div class="pt-2 pb-2"></div>

        <p  class="font-bold text-second">6. Prohibited Conduct
          <p>You agree not to engage in activities that violate applicable laws or our community guidelines. Hate speech, harassment, and inappropriate behavior are strictly prohibited.</p>
            <div class="pt-2 pb-2"></div>

        <p  class="font-bold text-second">7. Moderation and Reporting
          <p>a. We have a report feature that allows users to flag content that violates our guidelines. Reported content will be reviewed, and appropriate action will be taken.

            b. Moments reserves the right to moderate content and suspend accounts that violate our guidelines.</p>
            <div class="pt-2 pb-2"></div>

        <p  class="font-bold text-second">8. Dispute Resolution


          <p>For disputes between users or involving the app, you can contact our support team at nathanaruna07@gmail.com or call 514 638 7871. We aim to address concerns promptly and amicably.</p>


          <div class="pt-2 pb-2"></div>

          <p  class="font-bold text-second">9. Updates to Terms



            <p>We may update these Terms from time to time. Any changes will be communicated via email. Your continued use of the app after updates indicates your acceptance of the revised Terms.</p>
            <div class="pt-2 pb-2"></div>

            <p  class="font-bold text-second">10. Governing Law

              <p>These Terms are governed by the laws of Canada, specifically in the province of [Province Name], without regard to its conflict of law principles.</p>
        </div>
</div>
<div class="pb-20"></div>
<div class="pb-20"></div>

 -->
