<div class="flex items-center justify-center h-screen">
  <div class="text-center">
    <h1 class="text-5xl font-bold text-main">MOMENTS</h1>
    <div class="login-container">
      <h2 class="login-title">Admin Login</h2>
      <div class="login-form">
        <input class="login-input" type="text" placeholder="Username" [(ngModel)]="username" />
        <input class="login-input" type="password" placeholder="Password" [(ngModel)]="password" />
        <button class="login-button" (click)="handleLogin()">Login</button>
      </div>
    </div>

  </div>
</div>


