<meta xame="description" content="Momnts Social Media App Landing Page">

<div class="flex items-center justify-center h-screen">
  <div class="text-center">
     <h1 class="text-5xl font-bold text-main">MOMNTS</h1>
     <p  class="font-bold text-second text-xs">Domi, Nathan, Xin & Aly™</p>
     <a href="#more">
     <h1 class="text-4xl  text-second">↓</h1>
    </a>
  </div>
</div>

<section id="more">
  <div class="flex flex-col min-h-screen">
    <div class="flex-grow">
    </div>
      <footer class="footer">
      <div class="divider"></div>
        <a href="/legal">
        <button class="footer-button">Legal</button>
        </a>
        <div class="divider"></div>
        <button class="footer-button">Contributors</button>
        <div class="divider"></div>
        <a >
        <button  class="footer-button">About</button>
        </a>
        <div class="divider"></div>
        <button class="footer-button">IOS</button>
        <div class="divider"></div>
        <button class="footer-button">Android</button>
        <div class="divider"></div>
      </footer>
    <div class="flex items-center justify-center pb-24 pt-19">
  </div>
  </div>
</section>
